body{

    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
    vertical-align:middle;

}

button {
    background-color: plum;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

    width: 150;
    height: 50;
  }
div{

    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
    
}

